
<div class="logo logo_main">
        <img src="assets/images/logoblanco.png"  width=254px; height= 34px>
    </div>
    
    <div class="nav">
       
        <div class="wrap">
            <div class="logo logo_small"><img src="assets/images/logoblanco.png"  width=125px; height= 30px></div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>

                    <li><a href="/nosotros">Quienes somos</a>
                    <ul id="submenu">
                        <li><a href="/nosotros">Mision</a></li>
                        <li><a href="/nosotros">Vision</a></li>
                        <li><a href="/nosotros">Valores</a></li>
                        <li><a href="/historia">Historia</a></li>
                    </ul>
                    </li>

                    <li><a href="/servicio">Servicios</a></li>

                    <li><a href="/contacto" >Contactenos</a>
                        <ul id="submenu">
                            <li><a href="/contacto">Contacto</a></li>
                           
                        </ul>
                    </li>
                </ul>
            </nav>
           
        </div>
        <!-- <img id="banner" src="images\bannerbacjground.jpg"> -->
    </div>  

    <!--  -->
    <i class="fas fa-ellipsis-v btn-menu"></i>
    
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="assets/js/HechosRd.js"></script>

