<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="description" content="Ejemplo de HTML5">
<meta name="keywords" content="HTML5">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Index</title>
<link rel="stylesheet" href="assets/css/HechosRd(0).css">
<link rel="stylesheet" href="/assets/css/contacto.css">
<link rel="stylesheet" href="assets/css/nosotros.css">
<link rel="stylesheet" href="assets/css/Servicio.css">
<link rel="stylesheet" href="assets/css/historia.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mate+SC&family=Montserrat:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f2ff659f62.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="assets/js/HechosRd.js"></script>
   <script src="assets/js/gotup.js"></script>
</head>
<body>
    {{>menu}}
   {{{ body }}}
   {{>footer}} 
</body>
</html>
