 <div class="contenedor">

<h1>Formulario Contacto</h1>

<div class="contenido"> 

<div class="info">


<div class="col">

    <i class="icono fas fa-map-marked-alt"></i>
    <p>Santo Domingo, Republica Dominicana </p>
</div>

<div class="col">
    <i class="icono fas fa-envelope"></i>
    <p>Hechosrd@gmail.com</p>
</div>

<div class="col">
    <i class="icono fas fa-phone"></i>
    <p> (809)-458-5555 <br> (829)-885-9874 </p>
</div>
     <div class="redes-s">


        <a href="https://www.facebook.com/historiadominicanaengraficas/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/historiardom" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/imagenesdenuestrahistoria/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
        

    </div> 





</div>
<form action="/contacto" method="POST" class="formulario">
    
    <input type="text" name="nombre" id="nombre" placeholder="nombre" required>
    <input type="text" name="email" id="email" placeholder="Correo Electronico" required>
    <input type="text" name="asunto" id="asunto" placeholder="asunto" required>
    <textarea name="mensaje" id="mensaje" placeholder="Mensaje" cols="30" rows="10" required></textarea>
    <button type="submit">Enviar</button>


</form>  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</div>
</div>



