 <section class="historia-contenedor" id="historia">
        
        <div class="contenedor-historia">
            <img id="img1" src="https://dotcompatterns.files.wordpress.com/2020/09/christina-rumpf-akugevlqprg-unsplash.jpg?w=682" alt="">
            <div class="checklist-historia">
                <div class="history"><h2 class="subtitulo">Historia</h2>
                    <p>Comencemos con una historia previa de cómo nació este proyecto, después de un largo día de trabajo tratando de encontrar información sobre mi país (República Dominicana) dándome cuenta de lo difícil que era leer un documento completo solo para responder algunas preguntas o no encontrar ninguna de las respuestas que estaba tratando de encontrar, en ese momento mi mente me sorprendió con una idea, luego de analizarla pensé en crear un canal de Youtube subiendo vídeos cortos explicando parte de la historia donde no solo gente de mi país sino de todo el mundo podría tener la oportunidad de comprender y aprender sobre mi cultura e historia de una manera rápida.</p>
                </strong></p>                
                </div>
               
        </div>
    </section>