
<div id="contenedor">
<ul>

<li><img src="assets/images/foto1.jpg" alt="" width="1348" height="768px"></li>
<li><img src="assets/images/fot2.jpg" alt="" width="1348" height="768px"></li>
<li><img src="assets/images/sea.jpg" alt="" width="1348" height="768px"></li>
<li><img src="assets/images/bannerbacjground.jpg" alt="" width="1348" height="768px"></li>

</ul>


</div>

    <section class="Nosotros-contenedor" id="nosotros">
        <h2 class="subtitulo">Nosotros</h2>
        <div class="contenedor-nosotros">
            <img src="assets/images/services 1.jpg" alt="">
            <div class="checklist-nosotros">
                <div class="us">
                    <p>Comencemos con una historia previa de cómo nació este proyecto, después de un largo día de trabajo tratando de encontrar información sobre mi país (República Dominicana) dándome cuenta de lo difícil que era leer un documento completo solo para responder algunas preguntas o no encontrar ninguna de las respuestas que estaba tratando de encontrar, en ese momento mi mente me sorprendió con una idea, luego de analizarla pensé en crear un canal de Youtube subiendo vídeos cortos explicando parte de la historia donde no solo gente de mi país sino de todo el mundo podría tener la oportunidad de comprender y aprender sobre mi cultura e historia de una manera rápida.
                    </p>                
                </div>
                <div class="buttom">
                    <a href="/nosotros" class="button">Mas informacion</a>
                    </div>
            </div>
        </div>
    </section>
<hr>
   

    <section class="services-contenedor" id="servicio" >
        <h2 class="subtitulo">Servicio</h2>
        <div class="contenedor-servicio">
            <img src="assets/images/LOGOhc.png" alt="">
            <div class="checklist-servicio">
                <div class="service">
                    <h3 class="n-service">Sobre mí <br> y el programa</h3>
                    <p> Los podcasts combinan una producción de sonido artística y elaborada con intereses temáticos que van desde la investigación científica hasta el periodismo del día a día. Muchas series de podcasts ofrecen un sitio web asociado con enlaces y notas del programa, e incluso un foro comunitario dedicado a debatir el contenido del programa..</p>
                </div>
                <div class="buttom">
                    <a href="/servicio" class="button">Mas informacion</a>
                    </div>
            </div>
            </div>
        </div>
    </section>
        

<!-- CONTACTO -->


<!-- form -->
<section id="contacto">
    <h4>Contacta con Nosotros</h4>
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.7384553890693!2d-69.97031568510829!3d18.450180587450053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea561ede31aee25%3A0x87ef24c085e7b8cc!2sColegio%20Apec%20Fernando%20Arturo%20de%20Meri%C3%B1o!5e0!3m2!1ses!2sdo!4v1622213745652!5m2!1ses!2sdo" width="800" height="500" style="border:2px solid aquamarine;" allowfullscreen="" loading="lazy"></iframe> 
    <img src="/assets/images/Anunciopartidopolitico.gif">
   

<!-- END -->
</section>

<div id="subir__arriba">
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-up" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
		<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
		<line x1="12" y1="4" x2="12" y2="14" />
		<line x1="12" y1="4" x2="16" y2="8" />
		<line x1="12" y1="4" x2="8" y2="8" />
		<line x1="4" y1="20" x2="20" y2="20" />
	</svg>
	</div>
