
<section class="services-contenedor" id="servicio">
    <h2 class="subtitulo">Nosotros</h2>
    <div class="contenedor-servicio">
        <img src="assets/images/service 2.jpg" alt="">
        <div class="checklist-servicio">
            <div class="service">
                
                <h3 class="n-service" id="mision">Mision</h3>
                <p id="textospequeno">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab autem enim illum dolorum nisi. Aspernatur.</p>
            
           
            <div class="service" id="vision">
                <h3 class="n-service">Vision</h3>
                <p id="textospequeno"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab autem enim illum dolorum nisi. Aspernatur.</p>
            </div>
            
            <div class="valores" id="value">
                <h3 class="n-service">Valores</h3>
                <p id="textospequeno">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem ullam debitis exercitationem consequuntur suscipit non, cupiditate eius quas sit aspernatur magnam architecto, explicabo eum totam, nesciunt minus voluptates placeat.</p>              
            </div>
        </div>
        
        </div>
    
</section>
