 <section class="gallery" id="galeria">
        <div class="contenedor">
            <h2 class="subtitulo">Galeria de Videos</h2>
            <div class="contenedor-galeria">
                <iframe class="img-galeria" width="500" height="250" src="https://www.youtube.com/embed/LPqQMEGya88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>               
                <iframe class="img-galeria" width="500" height="250" src="https://www.youtube.com/embed/nh1V1d8mHBo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>               
                <iframe class="img-galeria" width="500" height="250" src="https://www.youtube.com/embed/umJTGuXARus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
                <iframe class="img-galeria" width="500" height="250" src="https://www.youtube.com/embed/BAeaV8JuqTQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="img-galeria" width="500" height="250" src="https://www.youtube.com/embed/5dr4CpxeisY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="img-galeria" width="500" height="250" src="https://www.youtube.com/embed/XWcyz3IvRxs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <audio src="/images/Covi Quintana - Soy Dominicana (Lyric Video).mp3" type= "audio/mpeg" controls = ""></audio> 